<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <title>Colbird</title>
</head>
<body>
    <nav class="navbar navbar-expand-ms" style="background-color: #e3f2fd;" data-bs-theme="light">
        <div class="container-fluid">
            <ul class="navbar nav">
                <li class="nav-item">
                    <a href="{% url 'inicio' %}" class="nav-link fw-medium">Identificador</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link fw-medium">Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block Identificador %}
    <div class="container mt-3 text-center">
        <button id="btnGrabar" class="btn btn-outline-light fw-medium" style="background-color: #e3f2fd; color: gray;">Grabar y Buscar Ave</button>
        <div id="aves" class="text-center mt-2 d-none">
            <button class="btn btn-outline-light fw-medium" style="background-color: #e3f2fd; color: gray;" 
            data-bs-toggle="modal" 
            data-bs-target="#modalAve" 
            data-url="{% url 'obtenerLoica' %}">Loica</button>
        </div>
    </div>
    <div class="modal fade" id="modalAve" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-md"> 
            <div class="modal-content" id="contenedor-renderizado">
            </div>
        </div>
    </div>
    {% endblock Identificador %}
    <script>
        const btnGrabar = document.getElementById('btnGrabar')
        const contenedorAves = document.getElementById('aves')
        btnGrabar.addEventListener('click', function() {
            btnGrabar.classList.add('d-none')
            contenedorAves.classList.remove('d-none')
        })
        // 2. Lógica dinámica para el Modal (ahora está fuera y funciona independiente)
    const modalAve = document.getElementById('modalAve');
    
    modalAve.addEventListener('show.bs.modal', function (event) {
        const boton = event.relatedTarget
        const urlDjango = boton.getAttribute('data-url')
        const contenedor = document.getElementById('contenedor-renderizado')
        
        fetch(urlDjango)
            .then(response => {
                if (!response.ok) throw new Error('Error HTTP status: ' + response.status)
                return response.text()
            })
            .then(html => {
                contenedor.innerHTML = html; 
            })
            .catch(error => {
                contenedor.innerHTML = `
                    <div class="modal-body text-center p-4 text-danger">
                        <p class="mb-0">No se pudo cargar la información del ave.</p>
                    </div>
                `
                console.error("Detalle del fallo:", error)
            })
        })
    </script>
</body>
</html>